# Compiled Binary files
*.rbf
*.sof
*.pof
# Compiled Object files
*.slo
*.lo
*.o
*.vo
*.sdo
*.rpt
*.summary
*.smsg
*.qws
*.jdi
*.qsf
*.sopcinfo
*.cmp

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Trash
*.*~
*.bak
*.lst
*.txt
*.html
*.dep
